{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="py-4"></div>
    <div class="py-5"></div>
    <div class="py-4 text-center">
        <h1 class="introduce-font lh-base">
            찾아와주셔서 <b>감사</b>합니다
        </h1>
    </div>
    <div class="col-4 mx-auto mt-2 signup-box">
        <div class="text-center py-4">
            <h4 class="mb-3 nav-font">계정생성</h4>
        </div>
        <form method="post">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="username" class="mb-2 fw-bold">이름 또는 닉네임 <b class="h6" style="font-size: 0.75rem;">/ 한글로 쓰는 걸 추천합니다!</b></label>
                <input type="text" class="form-control mb-4" name="username" id="username"
                    value="{{ form.username.data or '' }}">
            </div>
            <div class="mb-3">
                <label for="password1" class="mb-2 fw-bold">비밀번호</label>
                <input type="password" class="form-control mb-4" name="password1" id="password1"
                    value="{{ form.password1.data or '' }}">
            </div>
            <div class="mb-3">
                <label for="password2" class="mb-2 fw-bold">비밀번호 확인</label>
                <input type="password" class="form-control mb-4" name="password2" id="password2"
                    value="{{ form.password2.data or '' }}">
            </div>
            <div class="mb-3">
                <label for="email" class="mb-2 fw-bold">이메일 <b class="h6" style="font-size: 0.75rem;">/ 가짜 계정도 괜찮아요!</b></label>
                <input type="text" class="form-control mb-4" name="email" id="email"
                    value="{{ form.email.data or '' }}">
            </div>
            <!-- <div><input type="text" name="comment" id="comment" value="{{ form.comment.data or '오늘도 행복한 하루 되세요' }}"></div> -->
            <div class="text-center py-4">
                <button type="submit" class="btn btn-secondary">생성하기</button>
            </div>
            
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var changeNavBackground = document.getElementById("navbar");
        changeNavBackground.setAttribute('class','navbar navbar-expand-lg navbar-light nav-gradient-background-gray');
    });
</script>


{% endblock %}