{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
<div class="nav-background-behind"></div>
<div class="container-fruid whole_wrap">
    <div class="row">
        <div class="col-sm-7 quiz_wrap">
            <div class="d-flex flex-wrap justify-content-center align-items-start mx-3 my-4 p-3">
                {% for quiz in quizs %}
                <div class="my-1 quizBoxSelect" id="{{ loop.index }}">
                    <div class="col-10 card m-3" style="width: 13.5rem; height: 11rem; border-radius: 0.6rem;"
                        id="quizbox{{ loop.index }}">
                        {% if quiz.id in solved_quiz_ids %}
                        <div class="card-body text-quiz quizsuccess-top">
                            <h5 class="card-title fs-5 text fw-bold lh-base quizsuccess-text"
                                style="word-break:keep-all" id="quiz{{ quiz.id }}">{{ quiz.quiz }}</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="container card-footer quizsuccess">
                            <div class="row">
                                <span class="col-5 p-2 fs-6 fw-bold quizsuccess-number">No. {{ quiz.id }}</span>
                                <span class="col-7 text-end p-2 text-light fw-bold">
                                    {{ quiz.answer }}
                                </span>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-body text-quiz" id="quizCardBody{{ quiz.id }}">
                            <h5 class="card-title fs-5 text fw-bold lh-base" style="word-break: keep-all"
                                id="quiz{{ quiz.id }}">{{ quiz.quiz }}</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="container card-footer" id="unSolvedDiv{{ quiz.id }}">
                            <div class="row">
                                <span class="col-5 p-2 fs-6" id="unSolvedSpanQuizId{{ quiz.id }}">No. {{
                                    quiz.id}}</span>
                                <span class="col-7 text-end p-2 text-black-50" id="unSolvedSpan{{ quiz.id }}">
                                    도전 가능
                                </span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-5">
            <div class="chat_wrap">
                <div class="inner">
                    <!-- 대화 아이템이 동적으로 추가될 공간 -->
                </div>
                <input type="text" class="mymsg h5 p-4 chatbotinput" placeholder="내용 입력 후 엔터를 누르세요">
                <div class="text-center">
                    <p class="footer-text">문제를&nbsp;풀고&nbsp;싶다면
                        <b class="fw-bold text-quiz">번호 [1 ~ 120번]</b>를&nbsp;&nbsp;/&nbsp;&nbsp;어려울 땐
                        <b class="fw-bold text-quiz">힌트</b> 요청을&nbsp;&nbsp;/&nbsp;&nbsp;배고플땐&nbsp;음식을
                        <b class="fw-bold text-quiz">주문</b>해보세요&nbsp;👍
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-50 start-50 translate-middle-x">
    <div id="liveToast" class="toast align-items-center text-bg-warning border-0 toast-size-up" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastText">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<script>

    // 페이지 로드 후 실행되는 함수
    document.addEventListener("DOMContentLoaded", function () {
        var mymsgInput = document.querySelector('.mymsg');
        var yourmsgInput = document.querySelector('.yourmsg');
        var chatInner = document.querySelector('.chat_wrap .inner');
        var elementBoxGlobal = null
        var elementTextGlobal = null
        var quiznumber = 0

        // XMLHttpRequest 객체 생성
        var xhr = new XMLHttpRequest();

        mymsgInput.addEventListener('keypress', function (e) {

            if (e.keyCode === 13 && this.value.length && quiznumber > 0) {
                sendMessage(this.value, 'mymsg');

                xhr.open('POST', 'api/endpoint', true);                    // 요청을 보낼 메서드 및 URL 설정
                xhr.setRequestHeader('Content-Type', 'application/json');   // Content-Type 헤더 설정 (JSON 전송 시에는 필요)                             
                xhr.onload = function () {                                   // 요청 완료 시의 콜백 함수 설정

                    if (xhr.status === 200) {
                        var result = JSON.parse(xhr.responseText).result;
                        var resulttype = JSON.parse(xhr.responseText).resulttype;
                        var answer = JSON.parse(xhr.responseText).answer;
                        var solvedCount = JSON.parse(xhr.responseText).solvedCount;
                        if (resulttype == 'quiz') {
                            clearCheckBox()
                            sendMessageQuiz(result, 'yourmsg');
                            toScrollMoving(result);
                        } else if (resulttype == 'answer') {
                            clearCheckBox()
                            sendMessage(result, 'yourmsg');
                            changeDivSpan(quiznumber, answer);
                            addSolvedCountNumber();
                            if (solvedCount == 120) {
                                const toastLiveExample = document.getElementById('liveToast')
                                document.getElementById('toastText').innerHTML = '🌈 축하합니다! 모든 문제를 문제 맞추셨습니다! 🌈';
                                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                                toastBootstrap.show()
                            } else if (solvedCount % 10 == 0) {
                                // alert('👏 축하합니다! 총 ' + solvedCount + '문제 맞추셨습니다! 👏');
                                const toastLiveExample = document.getElementById('liveToast')
                                document.getElementById('toastText').innerHTML = '💐 축하합니다! 총 ' + solvedCount + '문제 맞추셨습니다! 💐';
                                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                                toastBootstrap.show()
                            } else {
                            };
                            quiznumber = 0
                        } else if (resulttype == 'alreadySolved') {
                            sendMessage(result, 'yourmsg');
                            quiznumber = 0
                        } else {
                            sendMessage(result, 'yourmsg');
                        };

                    } else {
                        console.error('Request failed. Status:', xhr.status);
                    }
                };
                var data = { key: this.value, quiznumber: quiznumber };
                console.log(data);                                          // 전송할 데이터                                
                xhr.send(JSON.stringify(data));                             // 데이터를 JSON 문자열로 변환하여 전송

                this.value = '';
            }
            else if (e.keyCode === 13 && this.value.length) {
                sendMessage(this.value, 'mymsg');

                xhr.open('POST', 'api/endpoint', true);                    // 요청을 보낼 메서드 및 URL 설정
                xhr.setRequestHeader('Content-Type', 'application/json');  // Content-Type 헤더 설정 (JSON 전송 시에는 필요)                             
                xhr.onload = function () {                                 // 요청 완료 시의 콜백 함수 설정

                    if (xhr.status === 200) {
                        var result = JSON.parse(xhr.responseText).result;  // 처음의 result 값은 문제 번호임
                        var resulttype = JSON.parse(xhr.responseText).resulttype;
                        var answer = JSON.parse(xhr.responseText).answer;
                        var solvedCount = JSON.parse(xhr.responseText).solvedCount;
                        if (resulttype == 'quiz') {
                            clearCheckBox()
                            sendMessageQuiz(result, 'yourmsg');
                            toScrollMoving(result);
                        } else {
                            sendMessage(result, 'yourmsg');
                        };
                    } else {
                        console.error('Request failed. Status:', xhr.status);
                    }
                };
                var data = { key: this.value, quiznumber: quiznumber };            // 전송할 데이터                                
                xhr.send(JSON.stringify(data));         // 데이터를 JSON 문자열로 변환하여 전송

                this.value = '';
            }
        });

        var currentTime = function () {
            var date = new Date();
            var hh = date.getHours();
            var mm = date.getMinutes();
            var apm = hh > 12 ? "오후" : "오전";
            var ct = apm + " " + hh + ":" + mm + "";
            return ct;
        };

        function sendMessage(message, className) {
            var newDiv = document.createElement('div');
            newDiv.className = 'item ' + className;
            newDiv.innerHTML = '<div class="box"><p class="msg h6">' + message + '</p><span class="time">' + currentTime() + '</span></div>';

            chatInner.appendChild(newDiv);

            var lastItem = chatInner.lastChild;
            setTimeout(function () {
                lastItem.classList.add("on");
            }, 10);

            var position = lastItem.offsetTop + chatInner.scrollTop;
            chatInner.scrollTop = position;
        }

        function sendMessageQuiz(result, className) {
            var newDiv = document.createElement('div');
            newDiv.className = 'item ' + className;
            const message = document.getElementById('quiz' + result).innerHTML;
            newDiv.innerHTML = '<div class="box"><p class="msg h6"><b class="fw-bold">Q' + result + '. '
                + message + '</b></p><span class="time">' + currentTime() + '</span></div>';

            chatInner.appendChild(newDiv);

            var lastItem = chatInner.lastChild;
            setTimeout(function () {
                lastItem.classList.add("on");
            }, 10);

            var position = lastItem.offsetTop + chatInner.scrollTop;
            chatInner.scrollTop = position;
        }

        function clearCheckBox() {
            if (elementBoxGlobal) {
                elementBoxGlobal.setAttribute('class', 'col-10 card m-3')
                elementTextGlobal.setAttribute('style', 'word-break:keep-all;')
            }
        }

        function toScrollMoving(result) {
            quiznumber = result;
            elementBox = document.getElementById('quizbox' + result);
            elementText = document.getElementById('quiz' + result);
            if (elementBox) {
                elementBox.scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" })
                elementBox.setAttribute('class', 'col-10 card m-3 selected_quiz')
                elementText.setAttribute('style', 'word-break:keep-all; color:#916e07;')
            }
            elementBoxGlobal = elementBox
            elementTextGlobal = elementText
        }

        function changeDivSpan(quiznumber, answer) {
            unSolvedSpan = document.getElementById('unSolvedSpan' + quiznumber)
            unSolvedDiv = document.getElementById('unSolvedDiv' + quiznumber)
            unSolvedSpanQuizId = document.getElementById('unSolvedSpanQuizId' + quiznumber)
            quizCardBody = document.getElementById('quizCardBody' + quiznumber)
            quiz = document.getElementById('quiz' + quiznumber)
            score = document.getElementById('score' + quiznumber)
            unSolvedSpan.innerHTML = answer
            unSolvedSpan.setAttribute('class', 'col-7 text-end p-2 text-light fw-bold')
            unSolvedDiv.setAttribute('class', 'container card-footer quizsuccess')
            unSolvedSpanQuizId.setAttribute('class', 'col-5 p-2 fs-6 fw-bold quizsuccess-number')
            quizCardBody.setAttribute('class', 'card-body text-quiz quizsuccess-top')
            quiz.setAttribute('class', 'card-title fs-5 text fw-bold lh-base quizsuccess-text')
            score.setAttribute('class', 'circle-solved')
        }

        function addSolvedCountNumber() {
            solvedCountNumber = document.getElementById('solvedCountNumber').innerHTML;
            document.getElementById('solvedCountNumber').innerHTML = Number(solvedCountNumber) + 1;
        }

        var quizboxAll = document.querySelectorAll('.quizBoxSelect');

        quizboxAll.forEach(function (quizbox) {
            quizbox.addEventListener('click', function () {
                clearCheckBox();
                quiznumber = this.id;
                sendMessageQuiz(this.id, 'yourmsg');
                toScrollMoving(this.id);
            });
        });


        function goToFirstUnSolvedDiv() {
            // id가 'unSolvedDiv*'인 모든 div 요소를 찾습니다.
            const unSolvedDivs = document.querySelectorAll("div[id^='unSolvedDiv']");

            // 가장 작은 id를 가진 div 요소를 반환합니다.
            const firstUnSolvedDiv = unSolvedDivs[0];

            // 가장 작은 id를 가진 div 요소를 스크롤합니다.
            firstUnSolvedDiv.scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" })
        }

        sendMessage('<b class="fw-bold">{{ g.user.username }}</b>님 환영합니다!', 'yourmsg')
        sendMessage('<b class="fw-bold">아재퀴즈 문제</b>를 선택하세요<br>[ 입력 : 1 ~ 120번 ]', 'yourmsg')
        sendMessage('<b class="fw-bold">Tip</b> : 배고플땐 음식을 <b class="fw-bold text-danger">"주문"</b>해보세요🍜', 'yourmsg')
        goToFirstUnSolvedDiv()

    });

</script>

{% endblock %}